<section>
    <h1>Habilidades</h1>
    <div id="hab">
        <div class="icons">
            <h2>Excel</h2>
            <img src="excel.png" alt="excel">
        </div>
        <div class="icons">
            <h2>Excel VBA</h2>
            <img src="VBA.png" alt="excel VBA">
        </div>
        <div class="icons">
            <h2>Power BI</h2>
            <img src="powerbi.png" alt="power BI">
        </div>
        <div class="icons">
            <h2>SQL</h2>
            <img src="sql.png" alt="SQL">
        </div>
        <div class="icons">
            <h2>Java Script</h2>
            <img src="javascript.png" alt="java script">
        </div>
        <div class="icons">
            <h2>Angular</h2>
            <img src="angular.png" alt="angular">
        </div>
        <div class="icons">
            <h2>HTML5</h2>
            <img src="html5.png" alt="HTML5">
        </div>
        <div class="icons">
            <h2>CSS</h2>
            <img src="css.png" alt="CSS">
        </div>
        <div class="icons">
            <h2>Typescript</h2>
            <img src="typescript.png" alt="typescript">
        </div>
        <div class="icons">
            <h2>C++</h2>
            <img src="c.png" alt="C++">
        </div>
    </div>
</section>
